// =============================================================================
// Basic Style
// =============================================================================

// =============================================================================
// Better colors for the web
// =============================================================================
$color_navy: #001F3F; //very dark blue
$color_blue: #0074D9;
$color_aqua: #7FDBFF; //light blue
$color_teal: #39CCCC; //blue-green
$color_olive: #3D9970; //bottle green
$color_green: #2ECC40; //grass grren
$color_lime: #01FF70; //the blue lemon color
$color_yellow: #FFDC00;
$color_orange: #FF851B;
$color_red: #FF4136;
$color_maroon: #85144B; //brown mixed little red
$color_fuchsia: #F012BE; //color between red and purple
$color_purple: #B10DC9;
$color_black: #111111;
$color_gray: #AAAAAA;
$color_silver: #abcdef; //light grey

// Custom Colors
$color_popcorn: #FFFF99;
$color_warning: #FFCC00;
$color_pink: #FFCCCC;
$color_lavender: #CC99FF;
