<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8"/>
        <title>installing application</title>
        <link href="__PUBLIC__/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Website protocol</h1>
        <p>you must approve this protocol</p>
        <form method="post">
            <input type="checkbox" id="chk-agree" name="chk-agree" value="0" />I have read it.
            <input id="btn-agree" name="btn-agree" type="button" value="I Agree" class="btn btn-lg" disabled />
        </form>

        <!-- Script Area Start -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="__PUBLIC__/Lib/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="__PUBLIC__/Lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{$Think.const.THEME_PATH}Public/js/install.js"></script>
        <!-- Script Area End -->
    </body>
</html>