<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../Public/css/layout.css" rel="stylesheet" type="text/css"/>
        <link href="../Public/css/list.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="item">
            <div class="item-show">
                <img src="../Public/images/01.jpg" alt="hehe" />
                <div class="item-desc"><p>这是一个测试项</p></div>
            </div>
            <div class="item-status"><span>1234</span></div>
        </div>
    </body>
</html>
