<!DOCTYPE html>
<html lang="zh-cn" ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>

        <!-- Bootstrap核心 CSS 文件 -->
        <link href="__PUBLIC__/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <header>
            </header>
            <section>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 main">
                        <div id="loginView">
                            <div class="regist-way">
                                <h1>Sign On</h1>
                            </div>
                            <form action="__CONTROLLER__/doReg" method="post" name="regist-by-email">
                                <div class="form-group has-success has-feedback">
                                    <input type="text" class="form-control input-lg bs-docs-popover txt-input" data-trigger="focus" data-container="body" id="account" name="account" placeholder="Your account" data-toggle="popover" data-placement="right" title="Msg" data-content="Please input username!" />
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg bs-docs-popover txt-input" data-trigger="focus" data-container="body" id="password" name="password" placeholder="Password" ng-minlength="8" ng-maxlength="20" data-toggle="popover" data-placement="right" title="Tip" data-content="Password need at least 8 charactors!" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg bs-docs-popover txt-input" data-trigger="focus" data-container="body" id="confpassword" name="confpassword" placeholder="Comfirm Password" data-toggle="popover" data-placement="right" title="Msg" data-content="New password must be the same with confirm password" />
                                </div>
                                <div class="form-group has-error has-feedback">
                                    <input type="text" class="form-control input-lg bs-docs-popover txt-input" data-trigger="focus" data-container="body" name="email" id="email" placeholder="Emaill Addr" data-toggle="popover" data-placement="right" title="tip" data-content="Your email address" />
                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="agreement" value="1" id="agreement">I accept the promtion<a href="###">《xxx Service Protocol》</a>
                                    </label>
                                </div>
                                <div class="regist-way">                                   
                                    <input type="submit" id="submit" class="btn btn-primary btn-lg btn-block" value="Sign On" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <footer>

            </footer>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script> -->
        <script type="text/javascript" src="__PUBLIC__/Lib/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Lib/angular.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="__PUBLIC__/Lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(function () {
                //$('[data-toggle="popover"]').tooltip();
                $('[data-toggle="popover"]').popover();
            })
        </script>
    </body>
</html>